@font-face {
  font-family: 'Montserrat-Black';
  src: url('/fonts/Montserrat-Black.ttf') format('truetype');
  /* font-weight: 900; */
  font-display: swap;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  --upper-menu-bg: #be2a44; /* be2a44 - 5f646c*/

  --left-section-bg: #283d5b; /* 283d5b - dee2eb*/
  --left-section-color: #fff; /* fff - 5f646c*/

  --bgcolor: #e1e4e6;
  --whity: #f4f6f8;
  --gray-footer: #55585b;
  --gray2: #d1d1d1;
  --custom-red: #ce132f;
}

body {
  margin: 0;
  padding: 0;
}

/* Общие стили для секций */
.section-basic {
  min-height: 200px;
  background-color: white;
  margin: 0px 0 40px;
  padding: 30px 50px;
  border-radius: 20px;
  box-shadow: 0 12px 32px rgba(18, 24, 40, 0.12);
}
.section-title {
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  color: #000;
  padding-bottom: 20px;
}

@media (max-width: 767px) {
  .section-basic {
    min-height: auto;
    border-radius: 0;
    padding: 20px 20px;
  }
  .section-title {
    font-size: 24px;
    padding-bottom: 10px;
  }
}

.coefficient-title {
  color: black;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 10px;
}

.coefficient-label {
  padding-bottom: 12px;
  color: black;
  font-size: 24px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .coefficient-label {
    font-size: 20px;
  }
}

.montserrat-black {
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: 900;
  letter-spacing: -0.02em;
}

/* Uslugi */
.uslugi-wrapper {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
  padding: 60px 80px;
}
.uslugi-title {
  font-size: 28px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 40px;
  text-align: left;
}

@media (max-width: 768px) {
  .uslugi-wrapper {
    padding: 30px 40px;
    margin: 0 0 40px 0;
  }
  .uslugi-title {
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
  }
}
