:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  --upper-menu-bg: #be2a44; /* be2a44 - 5f646c*/

  --left-section-bg: #283d5b; /* 283d5b - dee2eb*/
  --left-section-color: #fff; /* fff - 5f646c*/
  
  --bgcolor: #e1e4e6;
  --whity: #f4f6f8;
  --gray-footer: #55585b;
}

body {
  margin: 0;
  padding: 0;
}

/* Общие стили для секций */
.section-basic {
  min-height: 500px;
  background-color: white;
  margin: 0px 0 40px;
  padding: 30px 50px;
  border-radius: 20px;
}

@media (max-width: 767px) {
  .section-basic {
    min-height: auto;
    border-radius: 0;
  }
}